include LICENSE
include README.md
include CHANGELOG.md
recursive-include djangocms_cookie_love/templates *
recursive-include djangocms_cookie_love/static *
recursive-include djangocms_cookie_love/locale *
